<?xml version="1.0"?>
<launch>
  <node ns="thymio1" pkg="thymio_controller" name="controller" type="thymio_controller_node.py" output="screen"/>
  <param name="thymio1/net" value="$(find thymio_controller)/nodes/network/models/Distributed"/>
  <node ns="thymio2" pkg="thymio_controller" name="controller" type="thymio_controller_node.py" output="screen"/>
  <param name="thymio2/net" value="$(find thymio_controller)/nodes/network/models/Distributed"/>
  <node ns="thymio3" pkg="thymio_controller" name="controller" type="thymio_controller_node.py" output="screen"/>
  <param name="thymio3/net" value="$(find thymio_controller)/nodes/network/models/Distributed"/>
 <node ns="thymio4" pkg="thymio_controller" name="controller" type="thymio_controller_node.py" output="screen"/>
  <param name="thymio4/net" value="$(find thymio_controller)/nodes/network/models/Distributed"/>
 <node ns="thymio5" pkg="thymio_controller" name="controller" type="thymio_controller_node.py" output="screen"/>
  <param name="thymio5/net" value="$(find thymio_controller)/nodes/network/models/Distributed"/>
</launch>
